# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# User Data
backend/uploads/
backend/outputs/

# OS specific
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
